.Search {
  margin-top: 65px;
  display: block;
}

.inputGroup {
  display: table;
  border-collapse: separate;
  border-spacing: 15px;
  width: 100%;
  margin: auto;
  height: 68px;
}
.inputGroup > div {
  display: table-cell;
  border: 1px solid #adadad;
  border-radius: 3px;
  margin-left: 5px;
  vertical-align: middle; /* needed for Safari */
  text-align: center;
}
.inputGroupIcon {
  background: #23995c;
  box-shadow: #adadad 1px 1px 5px;
  color: white;
  padding: 0 8px;
  border: none !important;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16pt;
}
.inputGroupArea {
  width: 100%;
}
.inputGroup input {
  border: 0;
  display: block;
  width: 94%;
  padding: 8px;
}
input:focus {
  outline: none;
}
@media (min-width: 500px) {
  .Search {
    margin-top: 110px;
  }
  .inputGroup {
    height: 80px;
  }
  .inputGroup input {
    height: 100%;
    font-size: 14pt;
  }

  .inputGroup {
    width: 95%;
  }
  .inputGroupArea {
    width: 93%;
  }
  .inputGroupIcon {
    font-size: 21pt;
  }
}

@media (min-width: 1000px) {
  .inputGroupArea {
    width: 94%;
  }
  .inputGroup input {
    width: 98%;
  }
}

@media (min-width: 1200px) {
  .inputGroupArea {
    width: 96%;
  }
  .inputGroup input {
    width: 98%;
  }
}

@media (min-width: 1600px) {
  .inputGroupArea {
    width: 97%;
  }
  .inputGroup input {
    width: 98.5%;
  }
}
