.Search{
    margin-top: 100px;
    display: block;
}

.InputDiv{
    padding: 10px;
    width: 100%;
    height: 30px;
}

.InputDiv > input{
    width: 93%;
    margin: 5px; 
    height: 100%;
}

.InputDiv > button{
    height: 100%;
}