.WasteItem{
    margin: auto;
    width: 90%;
}
.Star{
    font-size: 12pt;
    color: #aaa;
}
.Green{
    color: #23995c;
}
ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(min-width: 700px){
    .LeftDiv{
        width: 40%;
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .RightDiv{
        width: 60%;
        display: inline-block;
        vertical-align: top;
    }
}